

<!DOCTYPE HTML>
<html>
<head>
	{% load static %}
<title>TRIP PLANNER</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/style1.css' %}" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<!--<script src="js/jquery.easydropdown.js"></script>-->
<!--start slider -->
<link rel="stylesheet" href="{% static 'css/fwslider.css' %}" media="all">
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/fwslider.js' %}"></script>
<!--end slider -->
<script type="text/javascript">
        $(document).ready(function() {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function() {
                $(".dropdown dd ul").toggle();
            });

            $(".dropdown dd ul li a").click(function() {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });

            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function() {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
     </script>
</head>
<body>
	{% include '!navbar.html'  %}






     <div class="main">
      <div class="shop_top">

<form action="" method="POST">
	{% csrf_token %}
  <div class="container" style="width:50%;">
    <h1>Sign Up</h1>
	  {{form.username.label}}<br>
	  {{form.username}}<br>
	  {{form.email.label}}<br>
	  {{form.email}}<br>
	  {{form.password1.label}}<br>
	  {{form.password1}}<br>
	  Confirm Password<br>
	  {{form.password2}}<br>
    <div class="clearfix">
		<input type="submit" value="Register">
    </div>
	  {{form.errors}}
  </div>
</form>


		   </div>
	  </div>



		{% include '!footer.html'  %}
	  </div>
</body>
</html>
